.logo img {
  margin-top: 28px;
  height: 36px;
}

#header-title {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#header-title h2 {
  margin: 0;
}

#header-title ul.icons {
  margin: 0 0 1rem 0;
}

#header > .content {
  margin-top: 0;
}

