<form method="post" action="https://formspree.io/wozniewicza+nocturnal@gmail.com">
        <div class="field half first">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" />
        </div>
        <div class="field half">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" />
        </div>
        <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="4"></textarea>
        </div>
        <ul class="actions">
                <li><input type="submit" value="Send Message" class="special" /></li>
        </ul>
</form>
<ul class="icons">
        {{ range .Site.Params.social }}
        <li><a href="{{ .link | safeURL }}" class="icon fa-{{ .icon }}"><span class="label">{{ .medium }}</span></a></li>
        {{ end }}
</ul>
